<head>
	<meta charset="UTF-8">
	<title th:text="${pageTitle}"></title>
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/todo.css}">
	
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/underscorejs/1.9.0/underscore-min.js}"></script>
	<script th:src="@{/webjars/backbonejs/1.3.3/backbone-min.js}"></script>
	<script th:src="@{/webjars/handlebars/4.0.2/handlebars.min.js}"></script>
	<script data-main="/js/config.js" th:src="@{/webjars/requirejs/2.1.5/require.js}"></script>
</head>