## Default ##
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**
#!**/src/test/**

## Java ##
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
*.tmp
*.bak
*.swp
/bin/
target/
tmp/
classes/
META-INF/


## Package Files ##
*.jar
*.war
*.ear
*.db


## OS ##
.DS_Store
Thumbs.db


## STS ## 
.apt_generated
.classpath
.factorypath
.project
.settings/
.loadpath
*.tmp
*.bak
*.swp
.springBeans
.sts4-cache
*.launch


## Files that might appear on external disk
.Spotlight-V100
.Trashes


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


## VS Code ##
.vscode/



.metadata
bin/
temp/
*~.nib
local.properties

# maven build directory
**/target/
**/.settings/

# Eclipse Core
**/.project

# External tool builders
**/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
**/*.launch

# PyDev specific (Python IDE for Eclipse)
**/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
**/.cproject

# JDT-specific (Eclipse Java Development Tools)
**/.classpath

# Java annotation processor (APT)
**/.factorypath

# PDT-specific (PHP Development Tools)
**/.buildpath

# sbteclipse plugin
**/.target

# Tern plugin
**/.tern-project

# TeXlipse plugin
**/.texlipse

# STS (Spring Tool Suite)
**/.springBeans

# Code Recommenders
**/.recommenders/

# node / node_modules
**/node/
**/node_modules/